        * {
            box-sizing: border-box;
            margin: 0%;
            padding: 0%;
        }
        
        body {
            font-family: 'Public Sans', sans-serif;
        }
        
        .contaner {
            display: flex;
            flex-direction: row;
        }
        
        .flex-item1 {
            display: flex;
            flex-direction: column;
            border-radius: 16px;
            height: 96vh;
            margin: 15px 0px 15px 15px;
            box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
        }
        
        .heding {
            padding-top: 100px;
            margin-left: 30px;
            font-weight: 700;
            font-size: 35px;
        }
        
        .icon1 {
            margin-left: 30px;
            width: 100px;
            padding-top: 40px;
            cursor: pointer;
        }
        
        .girl {
            margin-top: 50px;
            width: 450px;
        }
        
        .flex-item2 {
            display: block;
            box-sizing: border-box;
            margin: auto;
        }
        
        .subheding {
            font-weight: bold;
        }
        
        .side {
            width: 34px;
            float: right;
            margin-top: -40px;
        }
        
        .sidebar {
            width: auto;
            margin-top: 30px;
            font-size: 15px;
            text-align: center;
        }
        
        #text {
            color: gray;
        }
        
        .back {
            background-color: #D0F2FF;
            padding: 14px 16px;
            border-radius: 10px;
            margin-bottom: 25px;
        }
        
        .msg {
            padding-bottom: 5px;
            font-size: 0.875rem;
            padding: 13px 10px;
            color: #04297A;
            text-align: start;
        }
        
        i {
            font-family: "font Awesome 5 free";
            color: #1890FF;
            font-size: 20px;
        }
        
        .from_div {
            position: relative;
            height: 48px;
            margin-bottom: 1.5rem;
        }
        
        .from_input {
            width: 100%;
            height: 100%;
            font-size: medium;
            border: 1px solid rgb(210, 220, 210);
            border-radius: 8px;
            outline: none;
            padding: 25px 10px;
            background-color: none;
            align-items: center;
            z-index: 1;
        }
        
        .from_input:hover {
            border: 1px solid black;
        }
        
        .from_label {
            position: absolute;
            left: 1rem;
            top: 0.5rem;
            padding-top: 8px;
            background-color: white;
            font-size: 1.1rem;
            transition: .3s;
            font-weight: 400;
            color: gray;
            cursor: text;
        }
        
        .from_input:focus {
            border: 2px solid #00AB55;
        }
        
        .from_input:focus~.from_label,
        .from_input:not(:placeholder-shown).from_input:not(:focus)~.from_label {
            top: -0.8rem;
            left: 0.5rem;
            padding: 5px;
            font-size: 13px;
            color: #00AB55;
        }
        
        .check1 {
            cursor: pointer;
        }
        
        .check {
            cursor: pointer;
            font-size: 15px;
            font-weight: 500;
            position: relative;
            margin-top: -8px;
            margin-left: 30px;
        }
        
        input[type=checkbox] {
            appearance: none;
            position: absolute;
            height: 20px;
            width: 20px;
            background-color: transparent;
            border: 2px solid gray;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
        }
        
        input[type="checkbox"]:after {
            font-family: "font Awesome 6 free";
            font-weight: 900;
            content: "\f00c";
            font-size: 15px;
            color: white;
            display: none;
        }
        
        input[type="checkbox"]:hover {
            background-color: #97e9c0;
        }
        
        input[type="checkbox"]:checked {
            background-color: #00AB55;
        }
        
        input[type="checkbox"]:checked:after {
            display: block;
        }
        
        #forget {
            float: right;
            color: #00AB55;
            text-decoration: none;
            font-weight: 600;
            font-size: 0.875rem;
            margin-top: -15px;
        }
        
        #forget:hover {
            text-decoration: underline;
            text-decoration-color: rgb(152, 134, 134);
        }
        
        #button {
            left: 16px;
            width: 100%;
            height: auto;
            padding: 14px;
            border-radius: 8px;
            background-color: #00AB55;
            color: white;
            font-size: medium;
            border: 1px solid #00AB55;
            cursor: pointer;
            margin-top: 20px;
        }
        
        #button:hover {
            background-color: #007B55;
        }
        
        .get {
            color: #00AB55;
            text-decoration: none;
            font-weight: bold;
        }
        
        .get:hover {
            text-decoration: underline;
            text-decoration-color: gray;
        }
        
        @media screen and (min-width:300px) and (max-width:599px) {
            .contaner {
                display: block;
            }
            .girl,
            h3 {
                display: none;
            }
            .icon1 {
                margin-left: -10px;
            }
            .flex-item1 {
                height: 5px;
                width: 5px;
            }
            .side {
                margin-left: auto;
            }
            .flex-item2 {
                display: flex;
                flex-direction: column;
                margin-top: 80px;
                margin-right: auto;
                width: fit-content;
                padding: 10px;
            }
            #forget {
                margin-left: auto;
            }
            .sidebar {
                text-align: center;
            }
        }
        
        @media screen and (min-width:600px) and (max-width:900px) {
            .contaner {
                display: block;
            }
            .girl,
            h3 {
                display: none;
            }
            .flex-item1 {
                display: block;
                border: none;
                box-shadow: none;
                height: 0px;
                padding: 40px;
            }
            img {
                margin-top: -60px;
                margin-left: -5px;
            }
            .flex-item2 {
                max-width: max-content;
                padding: 5px;
                margin: auto;
            }
            .sidebar {
                text-align: center;
            }
        }
        
        @media screen and (min-width:900px) and (max-width:1150px) {
            .girl {
                margin-top: 50px;
            }
            .flex-item2 {
                margin: auto
            }
        }